@font-face 
    font-family: "Roobert"
    src: url("./resource/Roobert-Regular.ttf")

body, html 
    background: #131314

* 
    margin: 0 
    padding: 0
    box-sizing: border-box
    font-family: "Roobert"
    color: #fff

.page-wrapper
    height: 100vh

.primary
    color: #daa721

svg 
    display: block

.btn-outline
    border: 2px solid #daa721
    padding: 3px
    transition: .2s all ease

    &:hover 
        background: #daa721

button 
    cursor: pointer
    background: #daa721
    border: none 
    padding: .6rem 1.1rem
    font-style: italic

.logo
    font-weight: bold
    font-style: italic

.dots 
    position: absolute

.a-primary 
    color: #daa721
    text-decoration: none
    font-style: italic